.list-unstyled>li a{
    text-decoration: none;
    color: rgb(175, 175, 192);
}
.list-unstyled>li a:hover{
    
    color: white;
}

img.thumbnail{
    height: 40px;
    width: 40px;
}

td{
    text-align: left;
}
tfoot{
    background-color: silver;
}
caption{
    color: rgb(53, 42, 35);
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    caption-side: top;
}

.invalid{
    border: rgb(105, 29, 29);
    background-color: rgba(197, 85, 85, 0.8);
}